@use "../variables" as v;

@mixin button() {
    button {
        color: v.$white;
        background-image: v.$initial-msg-bg;
        font-family: v.$main-font-family;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 1.2rem 0;
        border: none;
        border-radius: 9999px;
        width: 80%;
        margin-top: 1rem;
        cursor: pointer;
    }
}