@use '../variables' as v;
@use './button' as b;

.initial-msg-container div:first-of-type{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: v.$secondary-bg;
    font-family: v.$main-font-family;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    letter-spacing: 0.1rem;

    img {
        height: 15rem;
        margin-bottom: 5rem;
        }
    
    h1 {
        color: v.$white;
        font-weight: 700;
        font-style: italic;
        font-size: 3rem;
        margin-top: -2rem;
    }
}

.initial-msg-container div:nth-of-type(2){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background-image: v.$primary-bg;
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;

    h2 {
        color: v.$title-color;
        font-weight: 500;
        font-size: 1.9rem;
    }
    
    p{ 
        text-align: center;
        padding: 1rem;
        font-size: 1.2rem;
    }

    
    @include b.button();
}
